**/bin/
**/obj/
**/.dockerignore
**/.git/
**/.gitignore
**/.vs/
**/.vscode/
**/*.user
**/*.lock.json
Dockerfile*
docker-compose*
.dockerignore
.git
.gitignore
README.md
*.md
*.txt
**/node_modules/
**/dist/
**/build/